{% extends "ebookstore/manage_base.html" %}
{% block title %}账目管理{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%;margin: 0 auto;" >
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">账目管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                    	<div class="table-toolbar">
                          	<div class="control-group">
                              <div class="controls">
                                <input type="text" class="input-xlarge datepicker" value="初始日期">
                                <input type="text" class="input-xlarge datepicker" value="结束日期">
                                <a class="btn btn-info pull-right" href="#" role="button" style="width:100px;height:30px">查询</a>
                             </div>
                            </div>
                       	</div>
                       	<table class="table table-striped" style="margin: auto;">

			            	<tr>
								<th>总销售量：</th>
								<td><b>此处总销售量</b></td>
							</tr>
							<tr>
								<th>总&ensp;成&ensp;本：</th>
								<td><b>此处总成本</b></td>
							</tr>
							<tr>
								<th>总销售额：</th>
								<td><b>此处总销售额</b></td>
							</tr>
							<tr>
								<th>总&ensp;利&ensp;润：</th>
								<td><b>此处总利润</b></td>
							</tr>
			            </table>
						<table class="table table-striped" style="margin: auto;">
			              <thead>
			                <tr>
			                  <th style="width: 50px;">ISBN</th>
			                  <th style="width: 300px;">书名</th>
			                  <th style="width: 300px;">出版社</th>
			                  <th style="width: 100px;">作者</th>
			                  <th style="width: 100px;">销售量</th>
			                  <th style="width: 280px;">营销利润</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr id="tr1">
			                  <td>1</td>
			                  <td>加密和解密</td>
			                  <td>Otto</td>
			                  <td>@mdo</td>
			                  <td>20</td>
			                  <td>**</td>
			                </tr>
			                <tr>
			                  <td>2</td>
			                  <td>数据库</td>
			                  <td>Thornton</td>
			                  <td>@fat</td>
			                  <td>20</td>
			                  <td>**</td>
			                </tr>
			                <tr>
			                  <td>3</td>
			                  <td>Larry</td>
			                  <td>the Bird</td>
			                  <td>@twitter</td>
			                  <td>30</td>
			                  <td>**</td>
			                </tr>
			              </tbody>
			            </table>
			            <br />


                    </div>
                </div>
            </div>
            <!-- /block -->
       </div>
{% endblock %}
{% block js %}

{% endblock %}