{% extends "ebookstore/manage_base.html" %}
{% block title %}图书管理{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%;margin: 0 auto;" >
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">图书管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                    	<div class="table-toolbar">
                          	<div class="btn-group">
                             	<a href="/ebookstore/addBook"><button class="btn btn-success" >添加书籍</button></a>
                          	</div>
								<form action="#" class="pull-right">
									<div class="form-group has-feedback" >
										<label for="search" class="sr-only">搜索关键字</label>
										<input type="search" placeholder="请输入查找的书籍" class="form-control">
										<span class="glyphicon glyphicon-search  form-control-feedback"></span>
									</div>
								</form>
                       	</div>
						<table class="table table-striped" style="margin: auto;">
			              <thead>
			                <tr>
			                  <th style="width: 50px;">ISBN</th>
			                  <th style="width: 300px;">书名</th>
			                  <th style="width: 300px;">出版社</th>
			                  <th style="width: 100px;">作者</th>
			                  <th style="width: 100px;">库存量</th>
			                  <th style="width: 280px;">处理</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr id="tr1">
			                  <td>1</td>
			                  <td>加密和解密</td>
			                  <td>Otto</td>
			                  <td>@mdo</td>
			                  <td>20</td>
			                  <td>
			                  	<div class="btn-group" role="group">
									<a class="btn btn-info" style="width:100px;height:30px" href="ModifyBook.html">修改</a>
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								</div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>2</td>
			                  <td>数据库</td>
			                  <td>Thornton</td>
			                  <td>@fat</td>
			                  <td>20</td>
			                  <td><div class="btn-group" role="group" style="align-content: center;">
			                  		<a class="btn btn-info" role="button" style="width:100px;height:30px" href="ModifyBook.html">修改</a>
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								  </div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>3</td>
			                  <td>Larry</td>
			                  <td>the Bird</td>
			                  <td>@twitter</td>
			                  <td>30</td>
			                  <td><div class="btn-group" role="group" >
			                  		<a class="btn btn-info" role="button" style="width:100px;height:30px" href="ModifyBook.html">修改</a>
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								  </div>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
                    </div>
                </div>
            </div>
            <!-- /block -->
       </div>
{% endblock %}
{% block js %}

{% endblock %}