<!DOCTYPE html>
<html>

	<head>
		<!--
        	作者：offline
        	时间：2018-09-07
        	描述：书籍详情页面
        -->
		<meta charset="UTF-8">
		<title>书籍详情</title>
		<link rel="stylesheet" href="/static/ebookstore/bootstrap/css/bootstrap.min.css">
		<link href="/static/ebookstore/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/assets/styles.css" rel="stylesheet" media="screen">
		<script src="/static/ebookstore/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/ebookstore/bootstrap/css/bootstrap.min.css">
		<script src="/static/ebookstore/jquery/jquery.min.js"></script>
		<script src="/static/ebookstore/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/ebookstore/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="/static/ebookstore/css/css(1).css" rel="stylesheet" />
		<link href="/static/ebookstore/css/normalize.min.css" rel="stylesheet" />
		<style>
			body {
				background-image: url(/static/ebookstore/img/背景.jpg);
				background-size: cover;
			}
		</style>
	</head>

	<body>
		<nav id="navbar-example" class="navbar navbar-inverse navbar navbar-fixed-top navbar-has-shadow" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="#">My-eBookStore</a>
				</div>
				<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html">主页</a>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">书籍分类<b class="caret"></b>

							</a>
							<ul class="dropdown-menu" id="menu1">

								<li>
									<a href="#">计算机类</a>
								</li>
								<li>
									<a href="#">英语类</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">新书上架</a>
						</li>
					</ul>

					<!--
                    	作者：offline
                    	时间：2018-09-05
                    	描述：用户已登录
                    -->
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> 用户 <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="#">我的信息</a>
								</li>
								<li>
									<a tabindex="-1" href="#">我的订单</a>
								</li>
								<li>
									<a tabindex="-1" href="#">购物车</a>
								</li>
								<li class="divider"></li>
								<li>
									<a tabindex="-1" href="login.html">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
					<!--
                    	时间：2018-09-05
                    	描述：用户未登陆时代码
                    	<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> 游客 <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="login.html">注册</a>
								</li>
							</ul>
						</li>
					</ul>
                    -->
				</div>
			</div>
		</nav>
		<div class="container">
			<div style='width: 20px; border: 1px; float: left; height: 450px;'>
				<!--这个div模拟一条白色的垂直分割线-->
			</div>
			<div id="second">
				<div class="div-left" style="float: left; width: 166px;">
					<div class="row" style="float: left; width: 1086px; margin: 0;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
								<p class="text-center">≡≡≡图书信息≡≡≡</p>
							</h3>
							</div>
							<div class="panel-body">
								<!-- 购物车的表格 -->
								<div style="float: left; width: 200px; height: 300px;">
									<img id="bookphoto" src="{{ book_photo_url }}" alt="">
								</div>
								<div style="margin-left: 27%">
									<table>
										<tr>
											<th>书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</th>
											<td><b id="bookISBN" name="">{{ book_ISBN }}</b></td>
										</tr>
										<tr>
											<th>书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
											<td><b id="bookname">{{ book_name }}</b></td>
										</tr>
										<tr>
											<th>出&nbsp;版&nbsp;&nbsp;社：</th>
											<td><b id="publisher">{{ book_press }}</b></td>
										</tr>
										<tr>
											<th>作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</th>
											<td><b id="authname">{{ book_auth_name }}</b></td>
										</tr>
										<tr>
											<th>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</th>
											<td><b id="bookprice">{{ book_price }}</b></td>
										</tr>
										<tr>
											<th>出版日期：</th>
											<td><b id="publishdate">{{ book_publish_date }}</b></td>
										</tr>
										<tr>
											<th>图书简介：</th>
											<td><b id="bookIntro">{{ book_info }}</b></td>
										</tr>
										<tr>
											<th>图书剩余：</th>
											<td><b id="booknumbersStock">{{ book_left_number }}</b></td>
										</tr>
									</table>
									<br>
									<br>
									<form class="form-horizontal" style="height: 100px;">
										<div class="form-group" style="margin-left: 35%">
											<p class="text-info" style="width: 50px">数量:</p>
											<div class="row" style="margin-left: 0;">
												<div class="col-sm-6">
													<div class="input-group">
														<span class="input-group-btn">
														<button onclick="numDec()" class="form-control btn btn-primary" type="button">-</button>
													</span> <input type="text" id="quantity" class="form-control" style="width: 200px; height: 33px; text-align: center;" /> <span class="input-group-btn">
														<button onclick="numAdd()" class="btn btn-primary form-control" type="button">+</button>
													</span>
													</div>
												</div>
												<!-- col-sm-6 -->
											</div>
										</div>
									</form>
									<br>
									<div class="btn-group" role="group" style="margin-left: 37%">
										<a class="btn btn-primary" id="addCart" role="button">添加到购物车</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			/*商品数量+1*/
			function numAdd() {
				var num_add = parseInt($("#quantity").val()) + 1;
				if($("#quantity").val() == "") {
					num_add = 1;
				}
				$("#quantity").val(num_add);
			}

			/*商品数量-1*/
			function numDec() {
				var num_dec = parseInt($("#quantity").val()) - 1;
				if(num_dec < 1) {
					//购买数量必须大于或等于1
					alert("数量不可以小于1");
				} else {
					$("#quantity").val(num_dec);
				}
			}
		</script>
		<hr style="width: 70%; margin: 0 auto;"/>
		<div class="row-fluid" style=" width: 1086px; margin: 0 auto;">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">书籍评价</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
  									<table class="table table-striped">
						              <thead>
						                <tr>
						                  <th style="width: 10%;">评价</th>
						                  <th style="width: 60%;">内容</th>
						                  <th style="width: 15%;">用户名</th>
						                  <th style="width: 15%;">时间</th>
						                </tr>
						              </thead>
						              <tbody>
						                <tr>
						                  <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
						                  <td>书很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好</td>
						                  <td>Otto</td>
						                  <td>2018.11.30</td>
						                </tr>
						                <tr>
						                  <td><span class="glyphicon glyphicon-thumbs-down"></td>
						                  <td>书很差很差很差很差很差很差很差很差很差很差很差很差很差</td>
						                  <td>Thornton</td>
						                  <td>2018.12.31</td>
						                </tr>
						              </tbody>
						            </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
	</body>
</html>