{% extends "ebookstore/base.html" %}
{% block title %}购物车{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style=" width:70%; margin: 0 auto;">
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">购物车</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="width: 10%;">勾选</th>
									<th style="width: 10%;">ISBN</th>
									<th style="width: 20%;">书名</th>
									<th style="width: 20%;">作者</th>
									<th style="width: 15%;">出版社</th>
									<th style="width: 15%;">单价</th>
									<th style="width: 10%;text-align: center;">数量</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input class="uniform_on" type="checkbox" id=""></td>
									<td>123</td>
									<td>Otto</td>
									<td>王蠢雷</td>
									<td>bcd出版社</td>
									<td>123</td>
									<td><input type="text" id="" class="form-control" style=" text-align: center;" /></td>
								</tr>
								<tr>
									<td><input class="uniform_on" type="checkbox" id=""></td>
									<td>321</td>
									<td>Thornton</td>
									<td>王蠢雷</td>
									<td>abc出版社</td>
									<td>16</td>
									<td><input type="text" id="" class="form-control" style=" text-align: center;" /></td>
								</tr>
							</tbody>
						</table>
						<h4>合计：</h4></div>
				</div>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="typeahead">收件人</label>
						<div class="controls">
							<input type="text" class="span6" id="" data-provide="typeahead" data-items="4">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">地址 </label>
						<div class="controls">
							<input type="text" class="span6" id="" data-provide="typeahead" data-items="4">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">联系电话 </label>
						<div class="controls">
							<input type="text" class="span6" id="" data-provide="typeahead" data-items="4">
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">提交订单</button>
						<a type="reset" class="btn" href="index.html">取消</a>
					</div>
				</form>
			</div>
			<!-- /block -->

		</div>
{% endblock %}
{% block js %}

{% endblock %}