{% extends "ebookstore/base.html" %}
{% block title %}My-eBookStore{% endblock %}
{% block nav %}
    <li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">书籍分类<b class="caret"></b>

							</a>
							<ul class="dropdown-menu" id="menu1">

                                <li id="selectComputer">
									<a href="#">计算机类</a>
								</li>
								<li id="selectEnglish">
									<a href="#">英语类</a>
								</li>

							</ul>
						</li>
    <li>
		<a id="newBook" href="javascript:void(0);">新书上架</a>
	</li>
{% endblock %}
{% block body %}
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<label class="ac-label">书店公告</label>
                <!--
				<MARQUEE style="background-color:ghostwhite;" ; this.stop() onmouseout=this.start() scrollAmount=1 scrollDelay=1 direction=up height=150>

                    <div id="showNotice"></div>

				</MARQUEE>
				-->
                <MARQUEE style="background-color:ghostwhite;" behavior="scroll" scrollamount="3" scrollDelay="20" direction="up" height="150px">
					<div id="showNotice">

					</div>
				</MARQUEE>
				<div class="ac" style="background-color:whitesmoke;border-radius:7px ;">
					<input class="ac-input" id="ac-2" name="ac-2" type="checkbox">
					<label class="ac-label" for="ac-2">销量排行榜</label>
					<article class="ac-text">
						<div class="ac-sub">
							<input class="ac-input" id="ac-2-1" name="ac-2-1" type="checkbox">
							<label class="ac-label" for="ac-2-1">英语类</label>
							<article id="english" class="ac-sub-text">
								<a href="" class="list-group-item ">1.英语类</a>
								<a href="" class="list-group-item ">2.英语类</a>
							</article>
						</div>
					</article>
					<article class="ac-text">
						<div class="ac-sub">
							<input class="ac-input" id="ac-2-2" name="ac-2-2" type="checkbox">
							<label class="ac-label" for="ac-2-2">计算机类</label>
							<article id="computer" class="ac-sub-text">
								<a href="" class="list-group-item ">1.计算机类</a>
								<a href="" class="list-group-item ">2.计算机类</a>
							</article>
						</div>
					</article>
					<article class="ac-text">
						<div class="ac-sub">
							<input class="ac-input" id="ac-2-3" name="ac-2-3" type="checkbox">
							<label class="ac-label" for="ac-2-3">总榜</label>
							<article id="total" class="ac-sub-text">
								<a href="" class="list-group-item ">1.计算机类</a>
								<a href="" class="list-group-item ">2.计算机类</a>
							</article>
						</div>
					</article>
				</div>
			</div>

			<!-- 右部内容 -->
			<div class="col-xs-12 col-md-8">
				<!-- 轮播 -->
				<div id="myCarousel" class="carousel slide">

					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="/static/ebookstore/img/轮播图1.jpg" alt="First slide">
						</div>
						<div class="item">
							<img src="/static/ebookstore/img/轮播图2.jpg" alt="Second slide">
						</div>
						<div class="item">
							<img src="/static/ebookstore/img/轮播图3.jpg" alt="Third slide">
						</div>
					</div>
					<!-- 轮播（Carousel）指标 -->
					<ol id="myCarouselIcon" class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
				</div>
				<div style="height: 300px;">
				</div>
				<hr />
				<input id="key" type="search" placeholder="请输入书名" style="height: 30px;">
				<button id="search" style="display: inline-block;height: 30px;position: relative;top: -4px;" class="glyphicon glyphicon-search">
				</button>
				<div id="showBook">

				</div>
				<!--
				<div>

				<div class="col-xs-6 col-md-4" >
					<a href="">
					<img src="/static/ebookstore/img/书1.jpg" style="height:70% ; width:70%;">
					</a>
					<a href="">
						<h3 style=" color: white;">书籍名称</h3>
					</a>
				</div>

				<div class="col-xs-6 col-md-4" >
					<a href="">
					<img src="/static/ebookstore/img/书1.jpg" style="height:70% ; width:70%;">
					</a>
					<a href="">
						<h3 style=" color: white;">书籍名称</h3>
					</a>
				</div>
				<div class="col-xs-6 col-md-4" >
					<a href="">
					<img src="/static/ebookstore/img/书1.jpg" style="height:70% ; width:70%;">
					</a>
					<a href="">
						<h3 style="color: white;">书籍名称</h3>
					</a>
				</div>
				<div class="col-xs-6 col-md-4" >
					<a href="">
					<img src="/static/ebookstore/img/书1.jpg" style="height:70% ; width:70%;">
					</a>
					<a href="">
						<h3 style=" color: white;">书籍名称</h3>
					</a>
				</div>
				<div class="col-xs-6 col-md-4" >
					<a href="">
					<img src="/static/ebookstore/img/书1.jpg" style="height:70% ; width:70%;">
					</a>
					<a href="">
						<h3 style=" color: white;">书籍名称</h3>
					</a>
				</div>
				</div>
			    -->
            </div>
		</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">

        //新书上架模块
			var newBook = document.querySelector("#newBook");
			newBook.onclick = function() {
				$.ajax({
					url: "/ebookstore/newBook",
					method: "get",
					error: function() {
						alert('数据出错，请刷新');
					},
					success: function(data) {
						var arr = JSON.parse(data),
							len = arr.length,
							showBookHTML = "";
						for(var i = 0; i < len; i++) {
							showBookHTML += `<div class="col-xs-6 col-md-4">
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<img src="${arr[i].url}" >
						</a>
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<h3 style=" color: white;">${arr[i].name}</h3>
						</a>
					</div>`;
						}
						showBook.innerHTML = showBookHTML;
					}
				});
			}


        var selectComputer = document.querySelector("#selectComputer"),
				selectEnglish = document.querySelector("#selectEnglish"),
                showBook = document.querySelector("#showBook");

			selectComputer.onclick = function() {
				$.ajax({
					url: "/ebookstore/getbook?subject=computer",
					method: "get",
					error: function() {
						alert('数据出错，请刷新');
					},
					success: function(data) {
						var arr = JSON.parse(data),
							len = arr.length,
							showBookHTML = "";
						for(var i = 0; i < len; i++) {
							showBookHTML += `<div class="col-xs-6 col-md-4">
								<a href="/ebookstore/book_detail?id=${arr[i].id}">
									<img src="${arr[i].url}" >
								</a>
								<a href="/ebookstore/book_detail?id=${arr[i].id}">
									<h3 style=" color: white;">${arr[i].name}</h3>
								</a>
							</div>`;
						}

						showBook.innerHTML = showBookHTML;
					}
				});
			}

			selectEnglish.onclick = function() {
				$.ajax({
					url: "/ebookstore/getbook?subject=english",
					method: "get",
					error: function() {
						alert('数据出错，请刷新');
					},
					success: function(data) {
						var arr = JSON.parse(data),
							len = arr.length,
							showBookHTML = "";
						for(var i = 0; i < len; i++) {
							showBookHTML += `<div class="col-xs-6 col-md-4">
								<a href="/ebookstore/book_detail?id=${arr[i].id}">
									<img src="${arr[i].url}" >
								</a>
								<a href="/ebookstore/book_detail?id=${arr[i].id}">
									<h3 style=" color: white;">${arr[i].name}</h3>
								</a>
							</div>`;
						}
						showBook.innerHTML = showBookHTML;
					}
				});
			}




			$.ajax({
				url: "/ebookstore/getbook",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						showBookHTML = "";
					for(var i = 0; i < len; i++) {
						showBookHTML += `<div class="col-xs-6 col-md-4">
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<img src="${arr[i].url}" >
						</a>
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<h3 style=" color: white;">${arr[i].name}</h3>
						</a>
					</div>`;
					}
					showBook.innerHTML = showBookHTML;
				}
			});
		</script>
    <script type="text/javascript">
			var showNotice = document.querySelector("#showNotice");

			$.ajax({
				url: "/ebookstore/getNotice",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						showNoticeHTML = "";
					for(var i = 0; i < len; i++) {
						showNoticeHTML += `<p>${arr[i].content} [${arr[i].time}]</p>`;
					}
					showNotice.innerHTML = showNoticeHTML;
				}
			});

			var english = document.querySelector("#english"),
				computer = document.querySelector("#computer"),
				total = document.querySelector("#total");

			$.ajax({
				url: "/ebookstore/getRankList?subject=english",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						englishHTML = "";
					for(var i = 0; i < len; i++) {
						englishHTML += `<a href="/ebookstore/book_detail?id=${arr[i].id}" class="list-group-item ">${i+1}.${arr[i].name}</a>`;
					}
					english.innerHTML = englishHTML;
				}
			});

			$.ajax({
				url: "/ebookstore/getRankList?subject=computer",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						computerHTML = "";
					for(var i = 0; i < len; i++) {
						computerHTML += `<a href="/ebookstore/book_detail?id=${arr[i].id}" class="list-group-item ">${i+1}.${arr[i].name}</a>`;
					}
					computer.innerHTML = computerHTML;
				}
			});

			$.ajax({
				url: "/ebookstore/getRankList?subject=total",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						totalHTML = "";
					for(var i = 0; i < len; i++) {
						totalHTML += `<a href="/ebookstore/book_detail?id=${arr[i].id}" class="list-group-item ">${i+1}.${arr[i].name}</a>`;
					}
					total.innerHTML = totalHTML;
				}
			});

			var showBook = document.querySelector("#showBook");
			$.ajax({
				url: "/ebookstore/getbook",
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					var arr = JSON.parse(data),
						len = arr.length,
						showBookHTML = "";
					for(var i = 0; i < len; i++) {
						showBookHTML += `<div class="col-xs-6 col-md-4">
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<img src="${arr[i].url}" >
						</a>
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<h3 style=" color: white;">${arr[i].name}</h3>
						</a>
					</div>`;
					}
					showBook.innerHTML = showBookHTML;
				}
			});

			//搜索功能
			var key = document.querySelector("#key");
			var search = document.querySelector("#search");
			search.onclick = function() {
				var value = key.value;
				if(!/^[\w\u4e00-\u9fa5]+$/.test(value)) {
					alert("关键字不合法");
					return;
				}
				$.ajax({
					url: "/ebookstore/searchBook?key=" + encodeURIComponent(value),
					method: "get",
					error: function() {
						alert('查找失败');
					},
					success: function(data) {
						var arr = JSON.parse(data),
							len = arr.length,
							showBookHTML = "";
						for(var i = 0; i < len; i++) {
							showBookHTML += `<div class="col-xs-6 col-md-4">
							<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<img src="${arr[i].url}" >
						</a>
						<a href="/ebookstore/book_detail?id=${arr[i].id}">
							<h3 style=" color: white;">${arr[i].name}</h3>
						</a>
					</div>`;
						}
						showBook.innerHTML = showBookHTML;
					}
				});
			};
		</script>
{% endblock %}