<!DOCTYPE html>
<html>
	<head>
		<!--
        	作者：offline
        	时间：2018-09-07
        	描述：书籍管理页面
        -->
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="/static/ebookstore/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/css/styles.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
		<script src="/static/ebookstore/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="/static/ebookstore/vendors/jquery-1.9.1.js"></script>
        <script src="/static/ebookstore/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/ebookstore/vendors/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/static/ebookstore/assets/scripts.js"></script>
        <script src="/static/ebookstore/assets/DT_bootstrap.js"></script>
        {% block thidr %}{% endblock %}
		<style>
			.col-center-block {
				float: none;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
		<style type="text/css">
			body {
				margin: 0 auto;
				background-image: url(/static/ebookstore/img/背景.jpg);
				background-size: cover;
			}
		</style>
	</head>
	<body>
		<nav id="navbar-example" class="navbar navbar-inverse navbar navbar-fixed-top navbar-has-shadow" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="/ebookstore/admin">My-eBookStore</a>
				</div>
				<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
					<ul class="nav navbar-nav">
						<li id="book_manage">
							<a href="/ebookstore/BookManage">图书管理</a>
						</li>
						<li id="user_manage">
							<a href="/ebookstore/UserManage">用户管理</a>
						</li>
						<li id="order_manage">
							<a href="/ebookstore/OrderManage">订单管理</a>
						</li>
						<li id="notice_manage">
							<a href="/ebookstore/NoticeManage">公告管理</a>
						</li>
						<li id="accout_manage">
							<a href="/ebookstore/AccountManage">账目管理</a>
						</li>
						<li id="comment_manage">
							<a href="/ebookstore/ConmentManage">评价管理</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i>
                                {% if admin_name %}
                                    {{ admin_name }}
                                {% else %}
                                    未登录
                                {% endif %}
                                <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="/ebookstore/admin-login">Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    {% block body %}{% endblock %}
    {% block js %}
    {% endblock %}
	</body>
</html>
