{% extends "ebookstore/manage_base.html" %}
{% block title %}修改书籍{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%; margin:0 auto ;">
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">修改书籍</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <form class="form-horizontal" action="/ebookstore/addBook/">
                            <div class="control-group">
                              <label class="control-label">书名</label>
                              <div class="controls">
                                <span class="input-xlarge uneditable-input">{{ name }}</span>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">ISBN</label>
                              <div class="controls">
                                <span class="input-xlarge uneditable-input">{{ isbn }}</span>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="typeahead">作者 </label>
                              <div class="controls">
                                <input type="text" class="span6" id=""  data-provide="typeahead" data-items="4" value="{{ author }}">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="typeahead">出版社 </label>
                              <div class="controls">
                                <input type="text" class="span6" id=""  data-provide="typeahead" data-items="4" value="{{ press }}">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="date01">出版日期</label>
                              <div class="controls">
                                <input type="text" class="input-xlarge datepicker" id="date01" value="{{ date }}">
                             </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="select01">类别</label>
                              <div class="controls">
                                <select id="select01" class="chzn-select">
                                    {% if type == "Computer" %}
                                        <option >英语类</option>
                                        <option selected="selected">计算机类</option>
                                    {% else %}
                                        <option selected="selected">英语类</option>
                                        <option >计算机类</option>
                                    {% endif %}
                                </select>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="typeahead">库存 </label>
                              <div class="controls">
                                <input type="text" class="span6" id=""  data-provide="typeahead" data-items="4" value="{{ count }}">
                              </div>
                            </div>
        					<div class="control-group">
                              <label class="control-label" for="typeahead">售价 </label>
                              <div class="controls">
                                <input type="text" class="span6" id=""  data-provide="typeahead" data-items="4" value="{{ price }}">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="typeahead">成本价 </label>
                              <div class="controls">
                                <input type="text" class="span6" id=""  data-provide="typeahead" data-items="4" value="{{ cost }}">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="fileInput">封面</label>
                              <div class="controls">
                                <input class="input-file uniform_on" id="fileInput" type="file">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="textarea2">简介</label>
                              <div class="controls">
                                <textarea class="input-xlarge textarea" placeholder="Enter text ..."
                                           style="width: 810px; height: 200px">{{ introduce }}</textarea>
                              </div>
                            </div>
                            <div class="form-actions">
                              <button type="submit" class="btn btn-primary">保存</button>
                              <button type="reset" class="btn">取消</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
{% endblock %}
{% block js %}
        <script>
	jQuery(document).ready(function() {
	   FormValidation.init();
	});
        $(function() {
            $(".datepicker").datepicker();
            $(".uniform_on").uniform();
            $(".chzn-select").chosen();
            $('.textarea').wysihtml5();
        });
        </script>
{% endblock %}