<!DOCTYPE html>
<html>

<head>
	<!--
        	作者：offline
        	时间：2018-09-07
        	描述：我的信息页面
        -->
	<meta charset="UTF-8">
	<title>我的信息</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/static/ebookstore/js/bootstrap.min.js"></script>
	<link href="/static/ebookstore/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/ebookstore/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link href="/static/ebookstore/css/styles.css" rel="stylesheet" media="screen">
	<script src="/static/ebookstore/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<style>
		body {
				background-image: url('/static/ebookstore/img/背景.jpg');
				background-size: cover;
			}
			
			img {
				width: 40px;
				height: 25px;
				position: absolute;
				right: 0px;
				margin: 15px;
			}
		</style>
</head>

<body>
    <nav id="navbar-example" class="navbar navbar-inverse navbar navbar-fixed-top navbar-has-shadow" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="/ebookstore/index">eBookStore</a>
				</div>
				<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/ebookstore/index">主页</a>
						</li>
                        {% block nav %}

                        {% endblock %}
					</ul>
					<!--
                    	作者：offline
                    	时间：2018-09-05
                    	描述：用户已登录
                    -->
                    {% if name %}

					<ul class="nav pull-right" id="vip">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> {{name}} <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="/ebookstore/myinfo" id="myinfo">我的信息</a>
								</li>
								<li>
									<a tabindex="-1" href="#">我的订单</a>
								</li>
								<li>
									<a tabindex="-1" href="#">购物车</a>
								</li>
								<li class="divider"></li>
								<li>
									<a tabindex="-1" href="/ebookstore/logout">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% else %}
                    <!--
                        时间：2018-09-05
                    	描述：用户未登陆时代码
                    -->
                    <ul class="nav pull-right" id="tourist">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> 游客 <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
							    <li>
									<a tabindex="-1" href="/ebookstore/login">登录</a>
								</li>
								<li>
									<a tabindex="-1" href="/ebookstore/register">注册</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% endif %}
				</div>
			</div>
		</nav>
    <div class="row-fluid" style="width: 70%; margin:0 auto ;">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">我的信息</div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
					<form class="form-horizontal" onsubmit="return false;">
						<div class="control-group">
							<label class="control-label">用户名</label>
							<div class="controls">
								<span id="user_name"  class="input-xlarge uneditable-input">{{ name }}</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">电话</label>
							<div class="controls">
								<span id="user_phone" class="input-xlarge uneditable-input">{{ phone }}</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">地址 </label>
							<div class="controls">
								<input type="text" class="span6" id="user_address" data-provide="typeahead" data-items="4" value={{ address }}>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="typeahead">密码 </label>
							<div class="controls" id="psw_invisible1">
								<input type="password" class="span6" id="user_password" />
								<img id="visible" onclick="showPsw()" src="/static/ebookstore/img/关闭.jpg">
								<img id="invisible" onclick="hidePsw()" src="/static/ebookstore/img/打开.jpg">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">确认密码 </label>
							<div class="controls" id="psw_invisible2">
								<input type="password" class="span6" id="user_password_sure"/>
							</div>
						</div>

						<div class="form-actions">
							<button class="btn btn-primary" onclick="modify()">保存</button>
							<a type="reset" class="btn" href="index.html">取消</a>
						</div>
					</form>

				</div>
			</div>
		</div>
		<!-- /block -->
	</div>
	<script type="text/javascript">
		//隐藏text block，显示password block
		function showPsw() {
			document.getElementById("user_password").type = "text";
			document.getElementById("user_password_sure").type = "text";
			document.getElementById("visible").style.display = "none";
			document.getElementById("invisible").style.display = "";
		}
		//隐藏password，显示text  
		function hidePsw() {
			document.getElementById("user_password").type = "password";
			document.getElementById("user_password_sure").type = "password";
			document.getElementById("visible").style.display = "";
			document.getElementById("invisible").style.display = "none";
		}

		function modify() {
			//e.preventDefault();
			var name = document.getElementById("user_name").value,
				address = document.getElementById("user_address").value,
				password = document.getElementById("user_password").value;
			$.ajax({
				url: "/ebookstore/myinfo/",
				method: "post",
				data: {
					"address" :address,
					"password": password
				},
				error: function () {
				},
				success: function (data) {
					switch (Number(data)) {
						case 1:
							alert('保存成功');
							/*
							if(rememberElement.value == true) {
								document.cookie =
									`name=${encodeURIComponent(name)};expires=${new Date(Date.now()+30*86400*1000)}`;
								document.cookie =
									`password=${encodeURIComponent(password)};expires=${new Date(Date.now()+30*86400*1000)}`;
							}
							*/
							//location.href = "/ebookstore/myinfo";
							window.history.go(0);
							break;
						case -1:
							alert("你的帐户已被冻结！");
							break;
					}
				}
			});
		}
	</script>
</body>

</html>