{% extends "ebookstore/base.html" %}
{% block title %}订单详情{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
		<div class="row-fluid" style=" width:70%; margin: 0 auto;">
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">订单详情</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="width: 15%;" >ISBN</th>
									<th style="width: 20%;" >书名</th>
									<th style="width: 25%;" >出版社</th>
									<th style="width: 15%;">单价</th>
									<th style="width: 15%;text-align: center;">数量</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>123</td>
									<td>Otto</td>
									<td>bcd出版社</td>
									<td>123</td>
									<td>1</td>
								</tr>
								<tr>
									<td>321</td>
									<td>Thornton</td>
									<td>abc出版社</td>
									<td>16</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>


						<!--
                        	作者：offline
                        	时间：2018-09-07
                        	描述：未支付订单显示
                        -->
						<div class="row" style="width: 100%;margin: 0 auto;">
							<div class="col-xs-6 col-md-4">
								<h4>合计：</h4></div>

							<div class="control-group" style="float: right;">
								<div class="controls">
									<select id="select01" class="chzn-select">
										<option>支付方式:</option>
										<option>支付宝</option>
										<option>银联</option>
									</select>
									<button type="button" class="btn btn-success " >支付</button>
									<button type="button" class="btn btn-danger">取消订单</button>
									<a type="button" class="btn" href="UserOrder.html">返回</a>
								</div>
							</div>
						</div>

						<!--
                        	作者：offline
                        	时间：2018-09-07
                        	描述：已完成和已关闭 订单显示
                        	<div class="row" style="width: 100%;margin: 0 auto;">
							<div class="col-xs-6 col-md-4">
								<h4>合计：</h4></div>

							<div class="control-group" style="float: right;">
								<div class="controls">
									<a type="button" class="btn" href="UserOrder.html">返回</a>
								</div>
							</div>
						</div>
                        -->
                        <!--
                        	作者：offline
                        	时间：2018-09-07
                        	描述：已发货订单显示
                        	<div class="row" style="width: 100%;margin: 0 auto;">
							<div class="col-xs-6 col-md-4">
								<h4>合计：</h4></div>

							<div class="control-group" style="float: right;">
								<div class="controls">
									<button type="button" class="btn btn-success " >确认收货</button>
									<a type="button" class="btn" href="UserOrder.html">返回</a>
								</div>
							</div>
						</div>
                        -->

					</div>
				</div>
				<!-- /block -->

			</div>
        </div>
{% endblock %}
{% block js %}

{% endblock %}