{% extends "ebookstore/manage_base.html" %}
{% block title %}订单管理{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%;margin: 0 auto;" >
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">订单管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                    	<div class="table-toolbar">
								<form action="#" class="pull-left">
									<div class="form-group has-feedback" >
										<label for="search" class="sr-only">搜索关键字</label>
										<input type="search" placeholder="请输入查找的订单" class="form-control">
										<span class="glyphicon glyphicon-search  form-control-feedback"></span>
									</div>
								</form>
                       	</div>
						<table class="table table-striped" style="margin: auto;">
			              <thead>
			                <tr>
			                  <th style="width: 100px;">订单号</th>
			                  <th style="width: 300px;">用户名</th>
			                  <th style="width: 300px;">联系方式</th>
			                  <th style="width: 200px;">订单状态</th>
			                  <th style="width: 280px;">处理</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr id="tr1">
			                  <td><a href="order.html">1</a></td>
			                  <td>王瀚</td>
			                  <td>18838076765</td>
			                  <td>未支付</td>
			                  <td></td>
			                </tr>
			                <tr>
			                  <td><a href="order.html">2</a></td>
			                  <td>汪涛</td>
			                  <td>18838981005</td>
			                  <td>未发货</td>
			                  <td><div class="btn-group" role="group" style="align-content: center;">
			                  		<a class="btn btn-info" role="button" style="width:100px;height:30px">发货</a>
								  </div>
			                  </td>
			                </tr>
			                <tr>
			                  <td><a href="order.html">3</a></td>
			                  <td>王卫国</td>
			                  <td>18838904266</td>
			                  <td>已发货</td>
			                  <td></td>
			                </tr>
			                <tr id="tr1">
			                  <td><a href="order.html">4</a></td>
			                  <td>秦文杰</td>
			                  <td>18838076765</td>
			                  <td>关闭</td>
			                  <td>
			                  	<div class="btn-group" role="group">
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								</div>
			                  </td>
			                </tr>
			                <tr id="tr1">
			                  <td><a href="order.html">5</a></td>
			                  <td>武一博</td>
			                  <td>18838076765</td>
			                  <td>已完成</td>
			                  <td>
			                  	<div class="btn-group" role="group">
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								</div>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
                    </div>
                </div>
            </div>
            <!-- /block -->
       </div>
{% endblock %}
{% block js %}

{% endblock %}