{% extends "ebookstore/manage_base.html" %}
{% block title %}评价管理{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%;margin: 0 auto;" >
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">评论管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                    	<div class="table-toolbar">
								<form action="#" class="pull-left">
									<div class="form-group has-feedback" >
										<label for="search" class="sr-only">搜索关键字</label>
										<input type="search" placeholder="请输入查找的评价内容/用户" class="form-control">
										<span class="glyphicon glyphicon-search  form-control-feedback"></span>
									</div>
								</form>
                       	</div>
						<table class="table table-striped" style="margin: auto;">
			              <thead>
			                <tr>
			                  <th style="width: 100px;">评价编号</th>
			                  <th style="width: 100px;">书名</th>
			                  <th style="width: 100px;">用户名</th>
			                  <th style="width: 500px;">内容</th>
			                  <th style="width: 140px;">处理</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr id="tr1">
			                  <td>1</td>
			                  <td>加密和解密</td>
			                  <td><a href="user-manage.html">王瀚</a></td>
			                  <td>@mdo</td>
			                  <td>
			                  	<div class="btn-group" role="group">
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								</div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>2</td>
			                  <td>数据库</td>
			                  <td><a href="user-manage.html">汪涛</a></td>
			                  <td>@fat</td>
			                  <td><div class="btn-group" role="group" style="align-content: center;">
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								  </div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>3</td>
			                  <td>Larry</td>
			                  <td><a href="user-manage.html">zzuwenjie</a></td>
			                  <td>@twitter</td>
			                  <td><div class="btn-group" role="group" >
									<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除</a>
								  </div>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
                    </div>
                </div>
            </div>
            <!-- /block -->
       </div>
{% endblock %}
{% block js %}

{% endblock %}