{% extends "ebookstore/base.html" %}
{% block title %}书籍详情{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
		<div class="container">
			<div style='width: 20px; border: 1px; float: left; height: 450px;'>
				<!--这个div模拟一条白色的垂直分割线-->
			</div>
			<div id="second">
				<div class="div-left" style="float: left; width: 166px;">
					<div class="row" style="float: left; width: 1086px; margin: 0;">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">
								<p class="text-center">≡≡≡图书信息≡≡≡</p>
							</h3>
							</div>
							<div class="panel-body">
								<!-- 购物车的表格 -->
								<div style="float: left; width: 200px; height: 300px;">
									<img id="bookphoto" src="{{ book_photo_url }}" alt="">
								</div>
								<div style="margin-left: 27%">
									<table>
										<tr>
											<th>书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</th>
											<td><b id="bookISBN" name="">{{ book_ISBN }}</b></td>
										</tr>
										<tr>
											<th>书&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
											<td><b id="bookname">{{ book_name }}</b></td>
										</tr>
										<tr>
											<th>出&nbsp;版&nbsp;&nbsp;社：</th>
											<td><b id="publisher">{{ book_press }}</b></td>
										</tr>
										<tr>
											<th>作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：</th>
											<td><b id="authname">{{ book_auth_name }}</b></td>
										</tr>
										<tr>
											<th>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</th>
											<td><b id="bookprice">{{ book_price }}</b></td>
										</tr>
										<tr>
											<th>出版日期：</th>
											<td><b id="publishdate">{{ book_publish_date }}</b></td>
										</tr>
										<tr>
											<th>图书简介：</th>
											<td><b id="bookIntro">{{ book_info }}</b></td>
										</tr>
                                        <!--
										<tr>
											<th>图书剩余：</th>
											<td><b id="booknumbersStock">{{ book_left_number }}</b></td>
										</tr>
										-->
									</table>
									<br>
									<br>
									<form class="form-horizontal" style="height: 100px;">
										<div class="form-group" style="margin-left: 35%">
											<p class="text-info" style="width: 50px">数量:</p>
											<div class="row" style="margin-left: 0;">
												<div class="col-sm-6">
													<div class="input-group">
														<span class="input-group-btn">
														<button onclick="numDec()" class="form-control btn btn-primary" type="button">-</button>
													</span> <input type="text" value="1" id="quantity" class="form-control" style="width: 200px; height: 33px; text-align: center;" /> <span class="input-group-btn">
														<button onclick="numAdd()" class="btn btn-primary form-control" type="button">+</button>
													</span>
													</div>
												</div>
												<!-- col-sm-6 -->
											</div>
										</div>
									</form>
									<br>
									<div class="btn-group" role="group" style="margin-left: 37%">
										<a class="btn btn-primary" id="addCart" role="button">添加到购物车</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="width: 70%; margin: 0 auto;"/>
		<div class="row-fluid" style=" width: 1086px; margin: 0 auto;">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">书籍评价</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
  									<table class="table table-striped">
						              <thead>
						                <tr>
						                  <th style="width: 10%;">评价</th>
						                  <th style="width: 60%;">内容</th>
						                  <th style="width: 15%;">用户名</th>
						                  <th style="width: 15%;">时间</th>
						                </tr>
						              </thead>
						              <tbody>
						                <tr>
						                  <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
						                  <td>书很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好很好</td>
						                  <td>Otto</td>
						                  <td>2018.11.30</td>
						                </tr>
						                <tr>
						                  <td><span class="glyphicon glyphicon-thumbs-down"></td>
						                  <td>书很差很差很差很差很差很差很差很差很差很差很差很差很差</td>
						                  <td>Thornton</td>
						                  <td>2018.12.31</td>
						                </tr>
						              </tbody>
						            </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
{% endblock %}
{% block js %}
<script>
			/*商品数量+1*/
			function numAdd() {
				var num_add = parseInt($("#quantity").val()) + 1;
				if($("#quantity").val() == "") {
					num_add = 1;
				}
				$("#quantity").val(num_add);
			}

			/*商品数量-1*/
			function numDec() {
				var num_dec = parseInt($("#quantity").val()) - 1;
				if(num_dec < 1) {
					//购买数量必须大于或等于1
					alert("数量不可以小于1");
				} else {
					$("#quantity").val(num_dec);
				}
			}
		</script>
{% endblock %}