//搜索功能
			var key = document.querySelector("#key");
			var search = document.querySelector("#search");
			search.onclick = function() {
				var value = key.value;
				if(!/^[\w\u4e00-\u9fa5]+$/.test(value)) {
					alert("关键字不合法");
					return;
				}
				$.ajax({
					url: "/ebookstore/queryBook?key=" + encodeURIComponent(value),
					method: "get",
					error: function() {
						alert('查找失败');
					},
					success: function(data) {
						var arr = JSON.parse(data),
							len = arr.length,
							showBookHTML = "";
						for(var i = 0; i < len; i++) {
							showBookHTML += `<div class="col-xs-6 col-md-4">
							<a href="BookDetail.html?id=${arr[i].id}">
							<img src="${arr[i].url}" >
						</a>
						<a href="BookDetail.html?id=${arr[i].id}">
							<h3 style=" color: white;">${arr[i].name}</h3>
						</a>
					</div>`;
						}
						showBook.innerHTML = showBookHTML;
					}
				});
			};