{% extends "ebookstore/manage_base.html" %}
{% block title %}用户管理{% endblock %}
{% block thirt %}
{% endblock %}
{% block body %}
<div class="row-fluid" style="width: 70%;margin: 0 auto;" >
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">用户管理</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                    	<div class="table-toolbar">
								<form action="#" class="pull-left">
									<div class="form-group has-feedback" >
										<label for="search" class="sr-only">搜索关键字</label>
										<input type="search" placeholder="请输入查找的用户ID" class="form-control">
										<span class="glyphicon glyphicon-search  form-control-feedback pull-right"></span>
									</div>
								</form>
                       	</div>
						<table class="table table-striped" style="margin: auto;">
			              <thead>
			                <tr>
			                  <th style="width: 50px;">ID</th>
			                  <th style="width: 300px;">用户名</th>
			                  <th style="width: 300px;">联系方式</th>
			                  <th style="width: 100px;">状态</th>
			                  <th style="width: 150px;">处理</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr id="tr1">
			                  <td>1</td>
			                  <td>王瀚</td>
			                  <td>18838076765</td>
			                  <td><span class="glyphicon glyphicon-ok"></span></td>
			                  <td>
			                  	<div class="btn-group" role="group">
									<a class="btn btn-info" role="button" style="width:100px;height:30px">冻结</a>
								</div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>2</td>
			                  <td>汪涛</td>
			                  <td>18838981005</td>
			                  <td><span class="glyphicon glyphicon-ok"></span></td>
			                  <td><div class="btn-group" role="group" style="align-content: center;">
									<a class="btn btn-info" role="button" style="width:100px;height:30px">冻结</a>
								  </div>
			                  </td>
			                </tr>
			                <tr>
			                  <td>3</td>
			                  <td>王卫国</td>
			                  <td>18838904266</td>
			                  <td><span class="glyphicon glyphicon-remove"></span></td>
			                  <td><div class="btn-group" role="group" >
			                  		<a class="btn btn-danger" role="button" style="width:100px;height:30px">解冻</a>
								  </div>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
                    </div>
                </div>
            </div>
            <!-- /block -->
       </div>
{% endblock %}
{% block js %}

{% endblock %}