<!DOCTYPE html>
<html>
	<head>
		<!--
        	作者：offline
        	时间：2018-09-07
        	描述：我的订单页面
        -->
		<meta charset="UTF-8">
		<title>我的订单</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/static/ebookstore/js/bootstrap.min.js"></script>
		<link href="/static/ebookstore/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/static/ebookstore/css/styles.css" rel="stylesheet" media="screen">
		<script src="/static/ebookstore/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<style>
			body {
				background-image: url('/static/ebookstore/img/背景.jpg');
				background-size: cover;
			}
		</style>
	</head>
	<body>
<nav id="navbar-example" class="navbar navbar-inverse navbar navbar-fixed-top navbar-has-shadow" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					<a class="navbar-brand" href="/ebookstore/index">eBookStore</a>
				</div>
				<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/ebookstore/index">主页</a>
						</li>
                        {% block nav %}

                        {% endblock %}
					</ul>
					<!--
                    	作者：offline
                    	时间：2018-09-05
                    	描述：用户已登录
                    -->
                    {% if name %}

					<ul class="nav pull-right" id="vip">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> {{name}} <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="/ebookstore/myinfo" id="myinfo">我的信息</a>
								</li>
								<li>
									<a tabindex="-1" href="/ebookstore/UserOrder/">我的订单</a>
								</li>
								<li>
									<a tabindex="-1" href="/ebookstore/cart">购物车</a>
								</li>
								<li class="divider"></li>
								<li>
									<a tabindex="-1" href="/ebookstore/logout">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% else %}
                    <!--
                        时间：2018-09-05
                    	描述：用户未登陆时代码
                    -->
                    <ul class="nav pull-right" id="tourist">
						<li class="dropdown">
							<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-user"></i> 游客 <i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
							    <li>
									<a tabindex="-1" href="/ebookstore/login">登录</a>
								</li>
								<li>
									<a tabindex="-1" href="/ebookstore/register">注册</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% endif %}
				</div>
			</div>
		</nav>
		
        <div class="row-fluid" style="width: 70%;margin: 0 auto;">
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">订单管理</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<table class="table table-striped" style="margin: auto;">
							<thead>
								<tr>
									<th style="width: 15%;">订单号</th>
									<th style="width: 15%;">订单金额</th>
									<th style="width: 25%;">下单时间</th>
									<th style="width: 20%;">订单状态</th>
									<th style="width: 25%;">处理</th>
								</tr>
							</thead>
							<tbody id="showUserOrder">
                            <!--
								<tr id="tr1">
									<td>
										<a href="OrderDetail.html">123</a>
									</td>
									<td>100</td>
									<td>2018/9/7</td>
									<td>未支付</td>
									<td>
										<a class="btn btn-info" role="button" style="width:100px;height:30px">去支付</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="OrderDetail.html">234</a>
									</td>
									<td>105</td>
									<td>2015/9/2</td>
									<td>已发货</td>
									<td>
										<a class="btn btn-success" role="button" style="width:100px;height:30px">确认收货</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="OrderDetail.html">456</a>
									</td>
									<td>111</td>
									<td>2015/9/2</td>
									<td>已关闭</td>
									<td>
										<a class="btn btn-danger" role="button" style="width:100px;height:30px">删除订单</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="OrderDetail.html">4654</a>
									</td>
									<td>126</td>
									<td>2017/9/2</td>
									<td>已完成</td>
									<td>
									</td>
								</tr>
								-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <!-- /block -->
       </div>
    <script type="text/javascript">
			var showUserOrder = document.querySelector("#showUserOrder");
			var orderState = ['删除', "未支付", "未发货", "已发货", "关闭", "已完成"];
			var arr;
			$.ajax({
				url: "/ebookstore/getUserOrder?id=" + localStorage.getItem("id"),
				method: "get",
				error: function() {
					alert('数据出错，请刷新');
				},
				success: function(data) {
					arr = JSON.parse(data),
						len = arr.length,
						showUserOrderHTML = ""; //订单状态1：未支付，2：未发货，3：已发货，4：关闭，5：已完成
					for(var i = 0; i < len; i++) { //1未支付，2未发货，3已发货，4关闭,5已完成
						switch(Number(arr[i].state)) { //[{id,price,time,state},{},...]
							case 1:
								showUserOrderHTML += `<tr>
									<td>
										<a href="/ebookstore/OrderDetail?id=${arr[i].id}">${arr[i].id}</a>
									</td>
									<td>${arr[i].price}</td>
									<td>${arr[i].time}</td>
									<td id="state${i}">${orderState[arr[i].state]}</td>
									<td><a id="deal${i}" class="btn btn-info" role="button" style="width:100px;height:30px" onclick="pay(${i})">去支付</a></td>
								</tr>`;
								break;
							case 2:
								showUserOrderHTML += `<tr>
									<td>
										<a href="/ebookstore/OrderDetail?id=${arr[i].id}">${arr[i].id}</a>
									</td>
									<td>${arr[i].price}</td>
									<td>${arr[i].time}</td>
									<td id="state${i}">${orderState[arr[i].state]}</td>
									<td></td>
								</tr>`;
								break;
							case 3:
								showUserOrderHTML += `<tr>
									<td>
										<a href="/ebookstore/OrderDetail?id=${arr[i].id}">${arr[i].id}</a>
									</td>
									<td>${arr[i].price}</td>
									<td>${arr[i].time}</td>
									<td id="state${i}">${orderState[arr[i].state]}</td>
									<td><a id="deal${i}" class="btn btn-info" role="button" style="width:100px;height:30px" onclick="getGoods(${i})">确认收货</a></td>
								</tr>`;
								break;
							case 5:
								showUserOrderHTML += `<tr>
									<td>
										<a href="/ebookstore/OrderDetail?id=${arr[i].id}">${arr[i].id}</a>
									</td>
									<td>${arr[i].price}</td>
									<td>${arr[i].time}</td>
									<td id="state${i}">${orderState[arr[i].state]}</td>
									<td></td>
								</tr>`;
								break;

						}

					}
					showUserOrder.innerHTML = showUserOrderHTML;
				}
			});

			function pay(i) {
				$.ajax({
					url: "/ebookstore/changeUserOrderState",
					method: "post",
					data: {
						id: arr[i].id,
						state: 2
					},
					error: function() {
						alert('状态改变失败');
					},
					success: function(data) {
						switch(Number(data)) {
							case 1:
								document.querySelector("#state" + i).innerHTML = "未发货";
								document.querySelector("#deal" + i).remove();
								break;
							case 0:
								alert('状态改变失败');
								break;
						}
					}
				});
			}

			function getGoods(i) {
				$.ajax({
					url: "/ebookstore/changeUserOrderState",
					method: "post",
					data: {
						id: arr[i].id,
						state: 5
					},
					error: function() {
						alert('状态改变失败');
					},
					success: function(data) {
						switch(Number(data)) {
							case 1:
								document.querySelector("#state" + i).innerHTML = "已完成";
								document.querySelector("#deal" + i).remove();
								break;
							case 0:
								alert('状态改变失败');
								break;
						}
					}
				});
			}
		</script>
	</body>
</html>
